<!DOCTYPE html>
<html>
<head>
    <title>My Resume</title>
</head>
<body>
    <h1>SHRUTI JADHAV</h1>
    <p><strong>Email:</strong> shruti123@gmail.com</p>
    <p><strong>Phone:</strong> +91-9867959210</p>

    <h2>Education</h2>
    <ul>
        <li>B.sc Computer Science, pune University, 2023-25</li>
    </ul>

    <h2>Experience</h2>
    <ul>
        <li>fresher</li>
    </ul>

    <h2>Skills</h2>
    <ul>
        <li>Python, Django, HTML, CSS</li>
    </ul>

    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>
