{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>About Us - Democracy Resort</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body style="background-image: url('{% static 'images/aboutus.jpg' %}');">

    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about/">About Us</a>
    </div>

    <div class="content">
        <h2>About Democracy Resort</h2>
        <p>Democracy Resort is a serene getaway nestled in nature. We offer luxury stays, spa experiences, and world-class cuisine for your perfect vacation.</p>
    </div>

</body>
</html>
